# Anyigba - Variables d'environnement
PORT=3000
NODE_ENV=development

# Base de données
DB_DRIVER=pg
DATABASE_URL=postgres://dev:dev@localhost:5432/anyigba
DATABASE_URL_UNPOOLED=postgres://dev:dev@localhost:5432/anyigba

# Sécurité & Empreintes
AUTH_SECRET=anyigba_sovereign_secret_key_benin_2026
HASH_PEPPER=benin_anyigba_pepper_secret_salting_hash_2026

# Modes de simulation démo
DEMO_MODE=true
SMS_MODE=simulate
USSD_MODE=simulate
PAYMENT_MODE=simulate
CHAIN_MODE=simulate
OTS_MODE=simulate
